.video__iframe {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 515px;
    height: 316px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 3px solid rgb(12, 164, 45);
  }