.video__iframes {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1050px;
    margin: 50px auto;
    position: relative;
    list-style: outside none none;
  }