.cards__title {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    line-height: 1.15;
  }